@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Station";
}


    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Станции</title>
    </head>
    <body>
        <div>
            <h3>Станции</h3>
            <p><a href="/Station/GreateStation/">Создать станцию</a></p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><p>Название станции</p></th>
                        <th scope="col">#</th>
                        <th scope="col">#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var b in ViewBag.Station)
                    {
                        <tr>
                            <td><p>@b.Name</p></td>
                            <td><p><a href="/Station/Change/@b.Id">Изменить</a></p></td>
                            <td><p><a href="/Station/Delete/@b.Id">Удалить</a></p></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
    </html>